---
import '@styles/global.scss'

import { langtag } from '@config'

import SEO from '@components/seo.astro'
import Favicon from '@components/Favicon.astro'


var title = Astro.props.title

if (title === undefined) {
    const 
        parts = Astro.url.pathname.split('/'),
        name = parts.at(-1) || 'Home'

    title = name.charAt(0).toUpperCase() + name.substring(1)
}
---

<html lang={langtag}>
    <head>
        <meta charset=utf-8>
        <meta name=viewport content="width=device-width, initial-scale=1">
        <title set:html={title} />
        <Favicon>
        <slot name=head>
        <SEO>
    </head>
    <body>
        <slot>
    </body>
</html>
