---
import '@styles/global.scss'
import { langtag } from '@config'
import Favicon from '@components/Favicon.astro'

const name = Astro.url.pathname.split('/').at(-1) || 'Home'

const { title=name.charAt(0).toUpperCase() + name.substring(1) } = Astro.props
---

<html lang={langtag}>
    <head>
        <meta charset=utf-8>
        <meta name=viewport content="width=device-width, initial-scale=1">
        <title set:html={title} />
        <Favicon />
        <meta name=generator content={Astro.generator}>
    </head>
    <body>
        <slot>
    </body>
</html>
